.card.community {
  width: 500px;
  height: 400px;
  /* overflow-y: auto; */
  border-radius: 10px;
  --bs-card-inner-border-radius: 10px;
  padding: 0px;
}

.community-link {
  text-decoration: none;
}

.card-img-top.community {
  height: 200px;
}

.card-img-overlay.community {
  height: 200px;
}

.card-body.community {
  overflow-y: scroll;
}
.activity {
  overflow-y: auto;
}


